<div class="container">
	<div class="row time-line">
		<h1>Top Stories</h1>
		<hr>
		<div ng-repeat="item in items" class="item well">
			<div class="item-type">{{item.type}}</div>
			<div class="title">{{item.title}}</div>
			<div class="user-info row">
				<div class="col-md-2 col-sm-2">
					<img src="https://image.flaticon.com/icons/svg/145/145862.svg" alt="user avertar" width="40px" height="40px">
				</div>
				<div class="col-md-10 col-sm-10 user">
					<div>user {{item.user_id}},  <span> user description</span></div>
					<div class="create-time">create at {{item.created_at}}</div>
				</div>
			</div>
			<div class="item-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div class="actions">Comment</div>

			<!-- <div class="comments well">
				<div class="comment-item">
					<div class="comment-user">
						<div>user</div>
						<div>
						<img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="user avertar" width="20px" height="20px">
						</div>
					
					</div>
					<div class="comment-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
				</div>
				<div class="comment-item">
					<div class="comment-user">user</div>
					<div class="comment-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
				</div>
								
			</div> -->



		</div>

	</div>	


</div>