/* app css stylesheet */
body {
	background: #FAFAFA;
}
.navbar-default {
	background-color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: #FAFAFA;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color:#B92B27;
	background-color:#FFFFFF;
	border-bottom: solid 2px #B92B27;
}
.inner-addon .fa-search {
	position: absolute;
	padding: 10px;
	color: #ACACAC;
}
.inner-addon input {
	padding-left: 30px;
}
.navbar-default .navbar-nav>li>a.profile {
	color:blue;
}
.navbar-default .navbar-nav>li>a.profile:hover{
	background-color: #FFFFFF;
}

/*time line*/
.row.time-line {
    width: 500px;
    margin: auto;
}
.item.well {
    background-color: #fff;
    /* background-color: #fcf8e3; */
}
.item-type,
.create-time,
.actions {
    color: #949494;
}
.title {
    font-weight: bold;
    line-height: 1.3;
    color: #333;
    font-size: 18px;
}
.comment-content {
    float: right;
    width: 90%;
}

.comment-user {
	float: left;
	widows: 10%;
}

.comment-item {
    overflow: auto;
    padding-bottom: 20px;
}

